/*

[Domingo, 21 FEB 2021]

    Leí en internet acerca de las convenciones para los nombres de las clases en
    CSS en el siguiente enlace:

        - https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/

    block-name-class:
    block-name__element:
    block-name__element--modifier:

     - EJEMPLO:

        .stick-man__head--small { }
 */

body {
    /* background-color: seashell; */
    /* DEGRADADO RADIAL

    FUENTES:
        - https://www.w3schools.com/css/css3_gradients_radial.asp
        - https://css-tricks.com/gradient-borders-in-css/
    */
    /* background-image: radial-gradient(circle, #743ad5, #d53a9d); */
    /* background-image: radial-gradient(circle, #FFFFFF, #CAF8FF , #00E0FF); */
    
    font-family: "Segoe UI";
    /* font-size: 10vw; */
    font-weight: lighter;

    background: black;
    background-image: url(../imgs/black-camo-background.jpg);
    background-size: cover;
    /* background-position: center; */
}

/* Hay que hacer una imagen con mayor tamaño para ponerla debajo y se vea el
    gradiente en el borde. 
    
    - FUENTE: https://css-tricks.com/gradient-borders-in-css/
*/
.border-gradient {
    /* max-width: 250px; */
    /* padding: 1rem; */
    position: relative;
    background: linear-gradient(to right, #743ad5, #d53a9d);
    padding: 4px;

    /* vw: vieport width, vh: viewport height */
    width: 70vw;
    max-width: 560px;


    height: 70vh;
    /* display: block; */
    margin: auto;
    /* border-radius: 10px; */

    margin-top: 10vh;

    min-width: 250px;
    min-height: 350px;

    /* background: linear-gradient(diagonal, #743ad5, #d53a9d); */
}

/* CONTENEDOR DEL CUADRO DE LOGIN. */
.login-container {
    background: #222;
    color: white;
    /* padding: 2rem; */
    width: 100%;
    height: 100%;
    position: relative;
    /* border-radius: inherit; */

    /* Para centrar en pantalla.

    FUENTE: https://www.w3schools.com/css/css_align.asp
    */
    /* margin: auto;
    margin-top: 20vh;

    min-width: 400px;
    min-height: 300px; */

    /* vw: vieport width, vh: viewport height */
    /* width: 50vw;
    height: 50vh;
    display: flex; */
    /* flex-wrap: wrap; */
    /* border-width: 1px;

    background: #DFCAFF ;

    border-radius: 20px;
    border: #FF5733; */
    /* border-style: dashed; */

}

/* .login-container  .login-container__text {
    width: 100%;
    height: 100%;
    position: absolute;
} */

.login-container__text {
        /* width: 300px;
        height: 100px; */

    /* padding: inherit; */

    
    min-width: 30px;
    width: 40%;
    height: 4% fixed;
    font-size: medium;
    
    text-align: center;

    /* font-weight: bold; */
    
    /* Posición relativa al contenedor padre. */
    position: absolute;
    /* overflow: hidden; */
    bottom: 45%;

    
}
/* block-name__element--modifier */
.login-container__text-box {

    min-width: 30px;
    width: 35%;
    height: 4% ;
    position: absolute;

    border: 1px solid lightgray;
    background-color:#F5F5F5;
    
    border-radius: 10px;
    /* TUVE QUE PONER BOTTOM PORQUE NO SE PUSO ENCIMA EL TEXTO DE LOS CUADROS. */
    bottom: 40%;
    /* position: absolute; */
}


#username {
    left: 10%;
}

#password {
    right: 10%;
}


